Repository heavenshell/ts-lehre: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser markdown --write, markdownlint

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.md": ["prettier --parser markdown --write", "markdownlint"]
}

Fix move typescript to dependencies (#29)
  package.json
  ship.config.js
Due: none

chore: release v1.0.5
  package.json
Due: none

chore: release v1.0.5 (#30)
  package.json
Due: none

Fix require path
  bin/lehre
Due: none

Fix require path (#31)
  bin/lehre
Due: none

chore: release v1.0.6
  package.json
Due: none

chore: release v1.0.6 (#32)
  package.json
Due: none

chore(deps): update devdependencies
  package.json
  yarn.lock
Due: none

chore(deps): update dependency jest to v25.4.0
  package.json
  yarn.lock
Due: none

Fix readme
  README.md
Due: prettier --parser markdown --write, markdownlint

Fix readme (#35)
  README.md
Due: prettier --parser markdown --write, markdownlint

Add expression
  src/parsers/ts/expression.ts
  src/parsers/ts/index.ts
Due: eslint --fix

Add expressions specs
  src/parsers/ts/expressions.spec.ts
  src/parsers/ts/expressions.ts
  src/parsers/ts/index.ts
Due: eslint --fix

Fix nest pattern
  src/parsers/ts/expressions.spec.ts
  src/parsers/ts/index.ts
Due: eslint --fix

Feature/expression (#36)
  src/parsers/ts/expressions.spec.ts
  src/parsers/ts/expressions.ts
  src/parsers/ts/index.ts
Due: eslint --fix

chore: release v1.1.0
  package.json
Due: none

chore: release v1.1.0 (#37)
  package.json
Due: none

Fix formatter
  src/formatters/esdoc.spec.ts
  src/formatters/esdoc.ts
  src/formatters/jsdoc.spec.ts
  src/formatters/jsdoc.ts
  src/formatters/tsdoc.spec.ts
  src/formatters/tsdoc.ts
Due: eslint --fix

Fix formatter (#38)
  src/formatters/esdoc.spec.ts
  src/formatters/esdoc.ts
  src/formatters/jsdoc.spec.ts
  src/formatters/jsdoc.ts
  src/formatters/tsdoc.spec.ts
  src/formatters/tsdoc.ts
Due: eslint --fix

chore: release v1.1.1
  package.json
Due: none

chore: release v1.1.1 (#39)
  package.json
Due: none

Feature add type
  src/parsers/ts/index.ts
  src/parsers/ts/types.spec.ts
  src/parsers/ts/types.ts
Due: eslint --fix

Feature add type (#40)
  src/parsers/ts/index.ts
  src/parsers/ts/types.spec.ts
  src/parsers/ts/types.ts
Due: eslint --fix

chore: release v1.2.0
  package.json
Due: none

chore: release v1.2.0 (#41)
  package.json
Due: none

Fix esdoc returns to return
  src/formatters/esdoc.spec.ts
  src/formatters/esdoc.ts
Due: eslint --fix

Fix esdoc returns to return (#42)
  src/formatters/esdoc.spec.ts
  src/formatters/esdoc.ts
Due: eslint --fix

chore: release v1.2.1
  package.json
Due: none

chore: release v1.2.1 (#43)
  package.json
Due: none

fix(deps): update dependency commander to v5.1.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/node to v13.13.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/node to v13.13.4
  package.json
  yarn.lock
Due: none
