Repository heavenshell/ts-lehre: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser markdown --write, markdownlint

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.md": ["prettier --parser markdown --write", "markdownlint"]
}

Fix lint errors
  src/formatters/tsdoc.spec.ts
Due: eslint --fix

Fix remove unnecessary code
  src/parsers/ts/index.ts
Due: eslint --fix

Update devDependencies
  package.json
  yarn.lock
Due: none

Fix prettier errors
  src/cli.ts
  src/formatters/esdoc.ts
  src/formatters/index.spec.ts
  src/formatters/index.ts
  src/formatters/jsdoc.ts
  src/formatters/tsdoc.ts
  src/main.ts
  src/parsers/ts/classes.ts
  src/parsers/ts/functions.ts
  src/parsers/ts/index.ts
Due: eslint --fix

Fix prettier error
  src/parsers/ts/variables.ts
Due: eslint --fix

Fix return empty list instead of ''
  src/main.ts
Due: eslint --fix

Fix should return string
  src/main.ts
Due: eslint --fix

Add main spec
  src/__fixtures__/classes.ts
  src/__fixtures__/functions.ts
  src/cli.spec.ts
  src/main.spec.ts
  src/parsers/ts/classes.ts
Due: eslint --fix

Fix remove unnecessary
  src/cli.spec.ts
Due: eslint --fix

Add build badge
  README.md
Due: prettier --parser markdown --write, markdownlint

Fix add more README and bin
  README.md
  examples/template.js
  package.json
  src/cli.ts
Due: eslint --fix, prettier --parser markdown --write, markdownlint

Fix markdown lint error
  README.md
Due: prettier --parser markdown --write, markdownlint

Fix add prepare
  package.json
Due: none

Remove lint-staged since rc file is already exists
  package.json
Due: none

Fix lint-staged
  .lintstagedrc
  .lintstagedrc.js
  README.md
Due: prettier --parser markdown --write, markdownlint

Fix remove textlint
  .lintstagedrc.js
  README.md
Due: prettier --parser markdown --write, markdownlint

Add lint-staged
  .lintstagedrc.js
  package.json
  yarn.lock
Due: none

Fix remove blank line
  README.md
Due: prettier --parser markdown --write, markdownlint

Fix to be more strict type
  src/parsers/ts/classes.ts
  src/parsers/ts/functions.ts
  src/parsers/ts/variables.ts
Due: eslint --fix

Add bin endpoint
  bin/lehre
Due: none

Fix setting
  package.json
Due: none

Fix rename charactor to column for more clalify
  src/formatters/index.spec.ts
  src/formatters/index.ts
  src/outputters/index.spec.ts
  src/parsers/ts/classes.spec.ts
  src/parsers/ts/classes.ts
  src/parsers/ts/functions.spec.ts
  src/parsers/ts/functions.ts
  src/parsers/ts/index.spec.ts
  src/parsers/ts/index.ts
  src/parsers/ts/variables.spec.ts
  src/types.ts
Due: eslint --fix

Fix add write option
  src/cli.ts
  src/main.spec.ts
  src/main.ts
  src/outputters/index.spec.ts
  src/outputters/index.ts
  src/parsers/ts/classes.ts
  src/types.ts
Due: eslint --fix

Fix refactor for introduce babel
  src/cli.ts
  src/main.spec.ts
  src/main.ts
  src/parsers/babel/index.ts
  src/parsers/ts/index.spec.ts
  src/parsers/ts/index.ts
  src/types.ts
Due: eslint --fix

Fix add format to type
  src/formatters/esdoc.ts
Due: eslint --fix

Update dependency prettier to v2.0.4
  package.json
  yarn.lock
Due: none

Add babel parser
  bin/lehre
  package.json
  src/cli.ts
  src/main.spec.ts
  src/main.ts
  src/parsers/babel/classes.spec.ts
  src/parsers/babel/classes.ts
  src/parsers/babel/functions.spec.ts
  src/parsers/babel/functions.ts
  src/parsers/babel/helper.spec.ts
  src/parsers/babel/helper.ts
  src/parsers/babel/index.spec.ts
  src/parsers/babel/index.ts
  src/parsers/babel/interfaces.spec.ts
  src/parsers/babel/interfaces.ts
  src/parsers/babel/parameters.spec.ts
  src/parsers/babel/parameters.ts
  src/parsers/babel/variables.spec.ts
  src/parsers/babel/variables.ts
  src/parsers/ts/classes.ts
  src/parsers/ts/parameters.spec.ts
  src/parsers/ts/variables.spec.ts
  src/parsers/ts/variables.ts
  yarn.lock
Due: eslint --fix

Fix lint error
  src/parsers/ts/classes.ts
Due: eslint --fix

Add babel parser (#7)
  bin/lehre
  package.json
  src/cli.ts
  src/main.spec.ts
  src/main.ts
  src/parsers/babel/classes.spec.ts
  src/parsers/babel/classes.ts
  src/parsers/babel/functions.spec.ts
  src/parsers/babel/functions.ts
  src/parsers/babel/helper.spec.ts
  src/parsers/babel/helper.ts
  src/parsers/babel/index.spec.ts
  src/parsers/babel/index.ts
  src/parsers/babel/interfaces.spec.ts
  src/parsers/babel/interfaces.ts
  src/parsers/babel/parameters.spec.ts
  src/parsers/babel/parameters.ts
  src/parsers/babel/variables.spec.ts
  src/parsers/babel/variables.ts
  src/parsers/ts/classes.ts
  src/parsers/ts/parameters.spec.ts
  src/parsers/ts/variables.spec.ts
  src/parsers/ts/variables.ts
  yarn.lock
Due: eslint --fix

Fix jsdoc exists ignore
  README.md
  src/cli.ts
  src/formatters/esdoc.ts
  src/formatters/jsdoc.ts
  src/parsers/babel/index.ts
Due: eslint --fix, prettier --parser markdown --write, markdownlint

Fix document and help
  README.md
  src/cli.ts
Due: eslint --fix, prettier --parser markdown --write, markdownlint

Fix document and help (#9)
  README.md
  src/cli.ts
Due: eslint --fix, prettier --parser markdown --write, markdownlint
