Repository heavenshell/ts-lehre: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser markdown --write, markdownlint

fix(deps): update dependencies to v7.9.6
  package.json
  yarn.lock
Due: none

chore(deps): update devdependencies
  package.json
  yarn.lock
Due: none

chore(deps): update dependency shipjs to v0.18.3
  package.json
  yarn.lock
Due: none

Fix add modulePathIgnorePatterns
  package.json
Due: none

Fix add modulePathIgnorePatterns (#53)
  package.json
Due: none

Fix use has insteaed of hasOwnProperty
  src/parsers/babel/functions.ts
  src/parsers/babel/index.ts
  src/parsers/babel/variables.ts
  src/parsers/helpers.spec.ts
  src/parsers/helpers.ts
  src/parsers/ts/classes.ts
  src/parsers/ts/expressions.ts
  src/parsers/ts/functions.ts
  src/parsers/ts/index.ts
  src/parsers/ts/parameters.ts
  src/parsers/ts/variables.ts
Due: eslint --fix

Fix lint error
  src/parsers/ts/classes.ts
Due: eslint --fix

Fix use has insteaed of hasOwnProperty (#54)
  src/parsers/babel/functions.ts
  src/parsers/babel/index.ts
  src/parsers/babel/variables.ts
  src/parsers/helpers.spec.ts
  src/parsers/helpers.ts
  src/parsers/ts/classes.ts
  src/parsers/ts/expressions.ts
  src/parsers/ts/functions.ts
  src/parsers/ts/index.ts
  src/parsers/ts/parameters.ts
  src/parsers/ts/variables.ts
Due: eslint --fix

chore: release v1.3.0
  package.json
Due: none

chore: release v1.3.0 (#55)
  package.json
Due: none

fix(deps): update dependency typescript to v3.9.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v10.2.3
  package.json
  yarn.lock
Due: none

fix(deps): update dependency typescript to v3.9.3
  package.json
  yarn.lock
Due: none

fix(deps): update dependencies to v7.10.2
  package.json
  yarn.lock
Due: none

fix(deps): update dependency typescript to v3.9.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint-plugin-import to v2.21.1
  package.json
  yarn.lock
Due: none

Change lehere to lehre
  README.md
Due: prettier --parser markdown --write, markdownlint

chore: release v1.3.1
  package.json
Due: none

chore: release v1.3.1 (#68)
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --parser markdown --write: any of: *.md
  markdownlint: any of: *.md
